* {
    margin: 0;
    padding: 0;
}

.room {
    background-color: #0c1428;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/background2.png");
    background-size: cover;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    color: white;
}

.room__shadow {
   /* background-color: #2a2a2bcc; */
    height: 100vh;
    width: 100vw;

}

.room__lobby-box {
    background-color: #000000c9;
    width: 100vw;
    min-height: 12vh;
    margin: 7vh 0 5vh;

}

.room__lobby-container {
    width: 80vw;
    min-height: 12vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.room__players-box {
    background-color: #000000c9;
    width: 100vw;
    min-height: 60vh;
}

.room__title {

}

.room__share, .room__creator {
    font-size: 18px;
    margin: 10px 0;
}

.room__link {
    color: #c5c5ca;
    text-decoration: none;
    font-size: 18px;
    display: none;
}

.room__players-list {
    list-style-type: none;
    width: 80vw;
    min-height: 60vh;
    /* padding: 5vw 0; */
    margin: 0 auto;
    display: flex;
    gap: 2.5vw;
    align-items: center;
}

.room__players-list li {
    font-size: 18px;
    width: 14vw;
    padding: 2vw;
    display: flex;
    border: 3px solid #ffffff;
    border-radius: 20px;
    min-height: 40vh;
}

.button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #d43d3f;
    color: white;
    border-radius: 5px;
    margin: 10px 0;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.button:hover {
    background-color: #af3133;
}

.button:active {
    transform: scale(0.95);
}

.button:disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
}

.notification {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    transform: translateX(-50%);
}

.notification.show {
    opacity: 1;
}
