ul {
  list-style-type: none;
}

body {
    background: #333333;
}

.page__title {
    display: inline-block;
    font: 700 75px/96px "Montserrat", Arial, sans-serif;
    color: #ffffff;
    margin-left: 50px;
}

.button {
    font: 700 25px/25px "Montserrat", Arial, sans-serif;
    margin-left: 821px;
    height: 137px;
    width: 219px;
    background-color: #ffffff;
    border: 3px solid #3a7999;
    border-radius: 29px;
}

.button:hover{
    border: 3px dotted #3a7999;
    color: #3a7999;
    background: rgba(0,0,0,0);

}

.playersInfo {
    display: flex;
    flex-direction: row;
}
.playersList{
    max-width: 650px;
    margin-left: 60px;
}

.playersTitle {
    font: 700 60px/96px "Montserrat", Arial, sans-serif;
    color: #ffffff;
    margin: 0;
}

.playersList__name {
    width: 650px;
    max-height: 350px;
}

li {
    font: 700 60px/70px "Montserrat", Arial, sans-serif;
    list-style-type: disc;
}

li::marker {
    color: #3a7999;
}

.creatorSkin {
    height: 200px;
    width: 200px;
}